
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/welcome">Shopping List App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="welcome" routerLink="/welcome">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="shopping-lists" routerLink="/shopping-lists">Shopping Lists</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

