.jumbotron{
    /*background-color: rgba(128, 128, 128, 0.7);*/
    text-align: center;
    background-color: rgba(201, 53, 53, 0);
    height: inherit;
    
}

.display-4{
    font-weight: 430;
}

.btn{
    margin: 2px;
}