<div class="jumbotron">
    <h1 class="display-4">Welcome to the Shopping List App!</h1>
    <hr class="my-4">
    <a routerLink="/shopping-lists" id= "shopping-lists" class="btn btn-primary" role="button" aria-pressed="true">View Shopping Lists</a>
  </div>
