.jumbotron{
    /*background-color: rgba(128, 128, 128, 0.7);*/
    text-align: center;
    background-color: rgba(201, 53, 53, 0);
    /* height: inherit; */
    
}

.display-4{
    font-weight: 430;
}

.btn{
    margin: 2px;
}

.create-shopping-list-container{
    height: 200px;
    width: 400px;
    background-color: lightgrey;
    border-radius: 5px;
    margin: auto;
}

.inner-create-shopping-list-container{
    padding: 10px;
}

#login-header{
    text-align: center;
}

.container-fluid{
    text-align: center;
}

#submit-container{
    text-align: center;
}

#status-text{
    color:red;
}
