<div class="jumbotron">
    <h1 class="display-4">{{groceryListName}}</h1>
    <hr class="my-4">
    <button class='btn btn-primary' (click)="open(content)">Add Item</button>
</div>

<ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Item</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="inputitemname"><b>Item Name</b></label>
            <input type="text" class="form-control" id="inputitemname" aria-describedby="emailHelp"
                name="itemname" placeholder="Item Name" [(ngModel)]='newItemName'>
        </div>

        

        <div class="form-group">
            <label for="inputitemquantity"><b>Quantity</b></label>
            <input type="text" class="form-control" id="inputitemquantity" aria-describedby="emailHelp"
                name="inputitemquantity" placeholder="Quantity" [(ngModel)]='newItemQuantity'>
        </div>

        <div class="form-group">
            <label for="inputitemtype"><b>Type </b></label>
            <select name="inputitemtype" id="inputitemtype" [(ngModel)]='newItemType'>
                <option value="Food">Food</option>
                <option value="Household Supplies">Household Supplies</option>
                <option value="Electronics">Electronics</option>
                <option value="Clothing">Clothing</option>
                <option value="Other">Other</option>
            </select>
        </div>

        
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Add</button>
    </div>

</ng-template>


<div class='table-holder' style="text-align: center; margin-left:auto; margin-right: auto;">
    <div class='table-responsive' style="width:700px; text-align: center; margin-left:auto; margin-right: auto;">
      <table class ="table table-light">
    
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Type</th>
                  <th><input type='text' [(ngModel)]='itemFilter' placeholder='Search Items' style='width:100px'> </th>
              </tr>
          </thead>
    
          <tbody>
              <tr *ngFor='let item of getFilteredItems()'>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.type}}</td>
    
                <td><button class='btn btn-danger' (click)='deleteListItem(item.groceryItemId)'>Delete</button></td>
    
              </tr>
          </tbody>
      </table>
    </div>
    
    </div>