<div class="jumbotron">
    <h1 class="display-4">Shopping Lists</h1>
    <hr class="my-4">
    <button class='btn btn-primary' (click)="open(content)">Create New Shopping List</button>
</div>

<ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New Shopping List</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="inputlistname"><b>Shopping List Name</b></label>
            <input type="text" class="form-control" id="inputlistname" aria-describedby="emailHelp"
                name="listname" placeholder="List Name" [(ngModel)]='newListName'>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Create</button>
    </div>

</ng-template>

<div class='table-holder' style="text-align: center; margin-left:auto; margin-right: auto;">
<div class='table-responsive' style="width:700px; text-align: center; margin-left:auto; margin-right: auto;">
  <table class ="table table-light">

      <thead>
          <tr>
              <th>Name</th>
              <th></th>
              <th><input type='text' [(ngModel)]='listFilter' placeholder='Search Lists' style='width:100px'> </th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor='let groceryList of getFilteredGroceryLists()'>
            <td>{{groceryList.name}}</td>

            <td><a [routerLink] = "['view-list', groceryList.groceryListId]" class='btn btn-primary'>View</a></td>

            <td><button class='btn btn-danger' (click)='deleteShoppingList(groceryList.groceryListId)'>Delete</button></td>

          </tr>
      </tbody>
  </table>
</div>

</div>
  
